.container3 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, auto);
    grid-gap: 8px;
    color: white;
}

.container3 > div {
    display: flex;
    align-items: left;
    font-size: 30px;
    border-radius: 8px;
    padding: 2%;
}

.grey1 {
    background-color: rgb(100, 100, 100);
}

.grey2 {
    background-color: rgb(43, 43, 43);
}

.grey3 {
    background-color: rgb(43, 43, 43);
}

.grey4 {
    background-color: rgb(172, 172, 172);
    color: black;
}

.grey5 {
    background-color: rgb(100, 100, 100);
}

@media (min-width: 768px) {
    .container3 {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4, auto);
        grid-gap: 8px;
        color: white;
    }

    .grey1 {
        grid-column: 1/-1;
        background-color: rgb(100, 100, 100);
    }
    
    .grey2 {
        grid-column: 1/2;
        background-color: rgb(43, 43, 43);
    }
    
    .grey3 {
        grid-column: 2/-1;
        background-color: rgb(43, 43, 43);
    }
    
    .grey4 {
        grid-column: 1/-1;
        background-color: rgb(172, 172, 172);
        color: black;
    }
    
    .grey5 {
        grid-column: 1/-1;
        background-color: #646464;
    }
}

@media (min-width: 1000px) {
    .container3 {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, auto);
        grid-gap: 8px;
        color: white;
    }

    .grey1 {
        grid-column: 1/-1;
        background-color: rgb(100, 100, 100);
    }
    
    .grey2 {
        grid-column: 1/2;
        background-color: rgb(43, 43, 43);
    }
    
    .grey3 {
        grid-column: 2/4;
        background-color: rgb(43, 43, 43);
    }
    
    .grey4 {
        grid-column: 4/5;
        background-color: rgb(172, 172, 172);
        color: black;
    }
    
    .grey5 {
        grid-column: 1/-1;
        background-color: rgb(100, 100, 100);
    }
}