.container2 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 60px 60px 60px;
    grid-gap: 6px;
}
.container2 > div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    border-radius: 8px;
}

.dBrown2 {
    grid-column: 1/-1;
     background-color: #32292f;
}

.lBlue2 {
    grid-column: 1/3;
    grid-row: 2/-1;
    background-color: rgb(59, 168, 157);
}

.cream2 {
    grid-column: 3/-1;
    background-color: rgb(167, 182, 175);
}

.dBlue2 {
    grid-column: 3/4;
    background-color: #70ABAF;
}

.lBrown2 {
    grid-column: 4/-1;
    background-color: #70ABAF;
}