html, body {
    padding: 0;

}

div {
    margin: 0 auto;
    width: 58%;
}

h1 {
    color: darkgreen;

}

.headers {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

p {
    line-height: 25px;
}

a:link {
    text-decoration: none;
}

img {
    float: left;
    width: 45%;
    height: auto;
    padding: 25px;
}

p.like {
    text-transform: uppercase;
}