html, body {
    background-color: rgb(255, 253, 253);
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

div {
    clear: both;
}

.columns {
    column-count: 3;
    column-gap: 50px;
    column-rule: 2px dashed rgb(0, 102, 42);
}

.frontPage {
    font-size: 20px
}

.img1 {
    width: 47%;
    height: auto;
    margin: 0 auto;
    float: right;
}


.img2 {
    float: left;
    width: 50%;
    height: auto;
    padding: 20px;
}

.img3 {
    float: inline-start;
    width: 70%;
    height: auto;
}

h1 {
    margin: 0 auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 35px;
}

.hr1 {
    border-bottom: 2px dashed rgb(0, 102, 42); border-top: none;
}

a:link {
    color: black; text-decoration: none;
}
a:visited {
    color: black; text-decoration: none;
}
a:hover {
    color: rgb(0, 102, 42); text-decoration: underline;
}

h3 {
    clear: both;
    font-family: Georgia, 'Times New Roman', Times, serif
}

mark {
    background-color: rgb(251, 255, 0)
}