* {
    box-sizing: border-box;
    font-size: 0px;
    height: 150px;
    margin: 10px;
    /* padding: 10px; */
}

/* div {
    position: relative;
    margin: auto;
} */

.lPink {
    background-color: #F5C6D6;
    width: 98%;
    /* border: 2px solid black; */
}

.dPink {
    background-color: #EE2E84;
    width: 23.275%;
    display: inline-block;
    /* border: 2px solid black; */
}

.blue {
    background-color: #85CFD8;
    width: 48.11%;
    display: inline-block;
    /* border: 2px solid black; */
}

.green {
    background-color: #8DC63F;
    width: 73.1%;
    display: inline-block;
    /* border: 2px solid black; */
}

.orange {
    background-color: #e76e34;
    width: 23%;
    display: inline-block;
    /* border: 2px solid black; */
}